<!-- navbar -->
<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav pull-right">          
			<li><a href="#" class="hidden-phone visible-tablet visible-desktop" role="button">设置</a></li>
			<li id="fat-menu" class="dropdown">
				<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-user"></i> {{ user.name }}
					<i class="icon-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li><a tabindex="-1" href="#">我的账户</a></li>
					<li class="divider"></li>
					<li><a tabindex="-1" class="visible-phone" href="#">设置</a></li>
					<li class="divider visible-phone"></li>
					<li><a tabindex="-1" href={% url 'sign-out' %}>退出</a></li>
				</ul>
			</li>
		</ul>
		<a class="brand" href={% url 'manager' %}><span class="first"></span><span class="second">天津中车车体车间工具管理系统</span></a>
		<a class="brand" href="https://www.crrcgc.cc/" target="_blank"><span class="first"><span class="second second-domain-name">www.crrcgc.cc</span></span></a>
	</div>
</div>